body {
  background-color: #373d47;
}

.Grid-body { 
  /* font-size: 2em; */
  display: grid;
  grid-template-columns: 3fr 1.5fr;
  grid-column-gap: 1em;
  margin-top: 1em;
}

/* .Calendar {
  background-color: pink;
  height: 70vh;
  margin-left: 1.5em;
}

.Backlog {
  background-color: aqua;
  height: 45vh;
  margin-right: 1.5em;
} */